
/* Custom styles for the map */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: #333333;
  color: white;
  border-radius: 8px;
}

.custom-popup .leaflet-popup-tip {
  background-color: #333333;
}

.custom-popup a {
  color: #FF6200;
}
